<h1><%= "#{@playlist.name}'s 10 best electronic songs" %></h1>
<% @songs.each do |s| %>
  <li><%= link_to s.title, song_path(s) %></li>
<% end %>
<br>
<%= link_to "source", @playlist.source, target: "_blank" %>
<br>
<%= link_to "Edit Playlist", edit_playlist_path(@playlist) %>
<br>
<%= link_to "Delete Playlist", playlist_path(@playlist), :method => :delete %>
